@import "../var";

.button {
  padding: 6px 27px;
  border: none;
  background: $primary;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  border-radius: 120px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;

  &--outlined {
    padding: 8px 24px;
    background: transparent;
    border: 1px solid $primary;
    color: $primary;
  }

  &--white {
    border-color: #fff;
    color: #fff;
  }

  &--md {
    padding: 13px 26px;
  }
}