@import "../var";
@import '@Styles/common/var.scss';
@import '@Styles/common/mixins.scss';

.header-wrapper--admin .header-auth-actions__icon {
  border-right-color: #fff;
}

.admin-welcome {
  background-color: #fff;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media #{$mobile} {
      flex-direction: column;
      margin-bottom: 1rem;
    }
  }

  &__message {
    padding: 1.25rem 0;
    font-size: 36px;
    font-weight: 700;

    @media #{$mobile} {
      font-size: 24px;
    }
  }

  &__buttons {
    .button:not(:first-child) {
      margin-left: 1rem;
    }
  }
}

.admin-section {
  padding-top: 2rem;
}

.admin-dashboard {
  display: flex;
  flex-direction: row;

  @media #{$mobile} {
    flex-direction: column-reverse;
  }

  .admin-content {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .dashboard-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      margin-top: -.75rem;

      &__title {
        font-size: 22px;
        font-weight: 500;
      }

      &__things {
        font-family: $secondary-font;
        font-weight: 300;
        width: 247px;
        height: 38px;
        padding: .5rem 1rem;
        border: 1px solid #c6cdcf;
        border-radius: 4px;
        color: #8c8f8f;
        background-color: white;
        position: relative;
        cursor: pointer;

        @media #{$tablet} {
          width: 150px;

          div {
            width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        &:hover {
          div, 
          &::after {
            opacity: .6;
          }
        }
        
        &::after {
          @include triangle(5px, #8c8f8f, 'down') {
            top: 16px;
            right: 18px;
          }
        }
      }
    }

    .dashboard-content {
      background-color: #fff;
      font-family: $secondary-font;
      padding: 1rem;

      &__info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
      }

      &__header {
        margin-bottom: 1rem;
      }

      &__patient-info {
        font-weight: 300;
      }

      &__patient-number {
        text-decoration: underline;
      }

      &__patient-links {
        display: flex;

        @media #{$mobile} {
          flex-direction: column;
          text-align: right;
          margin-top: -28px;
        }

        span {
          padding: 0 .5rem;
          &:not(:last-child) {
            border-right: 1px solid $primary;
          }

          @media #{$mobile} {
            padding: 0;
            &:not(:last-child) {
              border-right: none;
              padding-bottom: .5rem;
            }
          }
        }
      }

      &__quick-links {
        & > span {
          white-space: nowrap;
          display: inline-block;
          margin-bottom: .5rem;
          
          &:not(:last-child) { 
            margin-right: 2rem;
          }
        }

        &-title {
          margin-bottom: 1rem;
        }

        img {
          width: 16px;
          margin-right: .5rem;
          margin-bottom: -3px;
        }
      }

      &__tiles-container {
        display: flex;
        flex-direction: row;

        @media #{$tablet} {
          flex-direction: column;
        }
      }

      &__tile {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #f3f3f3;
        padding: 1rem;
        margin-bottom: 1rem;
        width: 33.33%;

        @media #{$tablet} {
          width: 100%;
        }

        &:not(:last-child) {
          margin-right: 1rem;
        }

        img {
          height: 55px;
        }

        &-title {
          font-family: $main-font;
          font-weight: 700;
          font-size: 24px;
          text-align: center;
          padding: 1.5rem 0;
        }

        p {
          font-weight: 300;
          text-align: center;
          margin-bottom: auto;
        }

        button {
          margin-top: 2rem;
          width: 100%;
          max-width: 320px;
        }
      }
    }
  }

  .admin-sidebar {
    min-width: 324px;

    &__tile {
      font-family: $secondary-font;
      margin-right: 2rem;
      background-color: #fff;
      border-radius: 12px;
      max-width: 350px;

      @media #{$mobile} {
        margin-right: 0;
      }

      &--container {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
      }

      img {
        height: auto;
        max-width: 100%;
      }

      h3 {
        font-family: $main-font;
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        margin: -60px 0 50px 1.5rem;
      }

      p {
        font-size: 14px;
        line-height: 1.7;
        font-weight: 300;
        margin-left: 1.5rem;
        margin-bottom: 1rem;
      }

      .bxhealth-link {
        margin-left: 1.5rem;
        padding-bottom: 1rem;
      }
    }

    ul {
      list-style: none;
      margin-right: 2rem;
      margin-bottom: 1rem;
      font-family: $secondary-font;
      font-weight: 300;

      @media #{$mobile} {
        margin-right: 0;
      }
    }
    
    @media #{$mobile} {
      width: 100%;
    }

    &__link {
      margin-bottom: .5rem;
      padding: 1rem;
      padding-left: 2.5rem;
      border-radius: 12px;
      position: relative;
      cursor: pointer;

      &::before {
        @include triangle(4px, #000, 'down') {
          top: 23px;
          left: 18px;
        }
      }
    }
  }
}
