@import "../var";
@import '@Styles/common/var.scss';

.dashboard-title{
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}

.table-wrapper{
  box-shadow: 0px 35px 50px rgba(0,0,0,0.2);
}

.table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: #fff;

  @media #{$mobile} {
    display: block;
    width: 100%;
  }

  tbody {
    @media #{$mobile} {
      width: auto;
      position: relative;
      overflow-x: auto;
    }

    td {
      text-align: center;
      @media #{$mobile} {
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }

    tr {
      @media #{$mobile} {
        display: block;
        width: 100%;
      }

      &:nth-child(odd) {
        @media #{$mobile} {
          background: none;
        }
      }
    }
  }

  thead, tbody, thead th {
    @media #{$mobile} {
      display: block;
    }
  }

  thead {
    background: #324960;
    color: #fff;

    @media #{$mobile} {
      display: none;
    }

    th {
      @media #{$mobile} {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
      }
    }
  }

  td, th {
    padding: 8px;

    @media #{$mobile} {
      padding: 20px .625em .625em .625em;
      height: 100px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;

      font-size: 13px;
      text-overflow: ellipsis;
    }
  }

  tr {
    &:nth-child(even) {
      background: #F8F8F8;

      @media #{$mobile} {
        background: transparent;
      }
    }

    td {
      &:nth-child(odd) {
        @media #{$mobile} {
          background: #F8F8F8;
          border-right: 1px solid #E6E4E4;
        }
      }

      &:nth-child(even) {
        @media #{$mobile} {
          border-right: 1px solid #E6E4E4;
        }
      }
    }
  }

  td {
    border-right: 1px solid #f8f8f8;
    font-size: 14px;
  }
}

.table-actions {
  display: flex;
  flex-wrap: wrap;
  
  @media #{$mobile} {
    align-content: center;
  }

  &__item {
    white-space: nowrap;
    margin: 0 6px 6px;
    color: #324960;
  }
}

.verticals-table-logo {
  max-width: 180px;
  display: block;
  margin: 0 auto;
  height: 50px;
  object-fit: contain;
}

.table-actions-wrapper {
  width: 400px;
}
