@import "../var";
@import '@Styles/common/var.scss';

.header {
  display: flex;
  align-items: center;
  padding: 14px 0;

  &__logo {
    margin-right: auto;
  }

  &__navigation {
    margin-right: 35px;

    @media #{$hd} {
      display: none;
    }
  }

  &__menu-trigger {
    display: none;
    margin-right: 20px;

    @media #{$hd} {
      display: block;
    }

    @media #{$mobile} {
      margin-right: 10px;
    }
  }
}

.logo-wrapper {
  &__img {
    display: block;
    max-width: 180px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    position: relative;
    margin-right: 14px;
    font-size: 16px;
    line-height: 24px;
    color: #474645;
    transition: 0.2s;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }
}

.header-auth-actions {
  display: flex;
  align-items: center;
  position: relative;

  &:hover {
    .header-auth-actions__actions-wrapper {
      @media #{$mobile} {
        display: block;
      }
    }
  }

  &__actions-wrapper {
    display: flex;
    align-items: center;

    @media #{$mobile} {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      background: #fff;
      z-index: 10;
      padding: 12px;
      width: 170px;
      box-shadow: 1px 4px 11px rgba(0, 0, 0, 0.14);
    }
  }

  &__button {
    min-width: 100px;
    display: block;
    margin-left: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #2C3741;
    background: $secondary;
    border: none;
    text-transform: uppercase;
    padding: 6px;
    transition: 0.2s;
    cursor: pointer;

    @media #{$mobile} {
      display: block;
      width: 100%;
      margin: 0 0 10px;
    }

    &:last-child {
      @media #{$mobile} {
        margin-bottom: 0;
      }
    }
  }

  &__user-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #1E2738;
    margin-right: 20px;

    @media #{$mobile} {
      display: none;
    }
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #1E2738;
    transition: 0.2s;
  }

  &__user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 3px;
    background: $secondary;
    margin-right: 12px;

    @media #{$mobile} {
      margin: 0;
    }

    &--home_page {
      display: none;

      @media #{$mobile} {
        display: flex;
      }
    }
  }
}

.dashboard-header-nav {
  background: #0A1D39;
  padding: 25px 0;
}