@import "../var";
@import '@Styles/common/var.scss';
@import '@Styles/common/mixins.scss';


&.bxretail-admin {
  .header-wrapper {
    padding-bottom: 0;
  }

  .admin-help-button {
    position: fixed;
    bottom: .75rem;
    right: 4rem;
  }
}

.admin-welcome {
  background-color: #fff;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media #{$mobile} {
      flex-direction: column;
      margin-bottom: 1rem;
    }
  }

  &__message {
    padding: 1.25rem 0;
    font-size: 36px;
    font-weight: 500;

    @media #{$mobile} {
      font-size: 24px;
    }
  }

  &__buttons {
    .button:not(:first-child) {
      margin-left: 1rem;
    }
  }
}

.admin-section {
  padding-top: 2rem;
}

.admin-dashboard {
  display: flex;
  flex-direction: row;

  @media #{$mobile} {
    flex-direction: column-reverse;
  }

  .admin-content {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .dashboard-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
      height: 50px;
      margin-top: -.75rem;

      &__title {
        font-size: 22px;
        font-weight: 500;
      }

      &__action {
        width: 247px;
        height: 38px;
        padding: .5rem 1rem;
        font-style: italic;
        border: 1px solid #c6cdcf;
        border-radius: 4px;
        color: #8c8f8f;
        background-color: white;
        position: relative;
        cursor: pointer;

        &:hover {
          div, 
          &::after {
            opacity: .6;
          }
        }
        
        &::after {
          @include triangle(5px, #8c8f8f, 'down') {
            top: 16px;
            right: 18px;
          }
        }
      }
    }         
  }

  .admin-sidebar {
    min-width: 324px;

    ul {
      list-style: none;
      margin-right: 2rem;
      margin-bottom: 1rem;

      @media #{$mobile} {
        margin-right: 0;
      }
    }
    
    @media #{$mobile} {
      width: 100%;
    }

    &__footer {
      text-align: center;
      padding-right: 2rem;
      padding-bottom: 2rem;
    }

    &__logos {
      margin-top: 1rem;

      img {
        width: auto;
        height: 24px;
        margin-top: 1rem;
        
        &:not(:last-child) {
          margin-right: 2rem;
        }
      }
    }

    &__link {
      margin-bottom: .5rem;
      padding: 1rem;
      padding-left: 2.5rem;
      border-radius: 12px;
      position: relative;

      &::before {
        @include triangle(4px, #000, 'down') {
          top: 23px;
          left: 18px;
        }
      }
    }
  }
}
