@import "../var";
@import '@Styles/common/var.scss';

.features-section {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5rem;

    @media #{$tablet} {
      padding: 3rem 0;
    }

    @media #{$mobile} {
      display: block;
    }

    &__item {
      width: 33.33%;
      padding: 0 16px;
      margin-bottom: 32px;

      @media #{$tablet} {
        padding: 0 8px;
        margin-bottom: 16px;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      @media #{$mobile} {
        width: 100%;
        padding: 0;
        margin-bottom: 24px;
      }
    }
  }

  .features-info-block {
    @media #{$mobile} {
      margin-bottom: 3rem;
    }

    &__image {
      width: 100%;
    }

    &__title {
      margin-top: -50px;
      margin-bottom: 1rem;
      padding: 10px 8px;
      position: relative;
      width: 100%;
      color: #000;
      font-size: 24px;
      background-color: rgba(255, 255, 255, 0.8);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      @media #{$tablet} {
        font-size: 18px;
        margin-top: -43px;
      }
    }

    &__description {
      margin-bottom: 1.5rem;
      font-weight: 300;
    }
  }
}