@import "../var";
@import '@Styles/common/var.scss';

.dashboard-content {
  padding: 70px 0;

  &__header {
    margin-bottom: 42px;

    @media #{$tablet} {
      margin-bottom: 63px;
    }
  }
}

.dashboard-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media #{$tablet} {
    display: block;
  }

  &__title {
    padding-right: 24px;
    font-family: $secondary-font;
    font-size: 64px;
    line-height: 76px;
    text-transform: uppercase;
    font-weight: 700;

    @media #{$tablet} {
      font-size: 56px;
      line-height: 76px;
      padding-right: 0;
      margin-bottom: 10px;
    }
  }
}

.dashboard-title-actions {
  display: flex;
  align-items: center;

  @media #{$mobile} {
    display: block;
  }
  
  &__btn {
    margin-left: 12px;

    @media #{$tablet} {
      margin-left: 0;
      margin-right: 12px;
    }

    @media #{$mobile} {
      display: block;
      width: 100%;
      margin: 0 auto 12px auto;
    }
  }

  &__btn-icon {
    margin-right: 8px;
  }
}

.dashboard-services-list {
  &__item {
    margin-bottom: 40px;
  }
}

.dashboard-image-block {
  background: #fff;
  position: relative;
  padding-left: 405px;

  @media #{$tablet} {
    padding-left: 240px;
  }

  @media #{$mobile} {
    padding-left: 0;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 405px;
    height: 100%;
    background-size: cover;
    background-position: center;

    @media #{$tablet} {
      width: 240px;
    }

    @media #{$mobile} {
      position: relative;
      height: 225px;
      width: 100%;
    }
  }

  &__content {
    padding: 40px 26px;

    @media #{$tablet} {
      padding: 40px 16px;
    }
  }
}

.dashboard-image-block-content {
  &__title {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;

    @media #{$mobile} {
      font-size: 22px;
line-height: 24px;
margin-bottom: 12px;
    }
  }

  &__text {
    min-height: 76px;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;

    @media #{$mobile} {
      min-height: auto;
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 41px;
    }
  }
}